@charset "utf-8";

//variables
$primary: #22005b;
$secondary: purple;
$link	:purple;


// variables 


//-----------
@import '../node_modules/bulma-fluent/bulma.sass';
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');